#!/bin/bash
THIS_MACHINE=$(uname -n)
DEST_SERVER=nuc
DPATH=/usr/local/bin:/usr/bin:/bin
#
# The following passcode of your backup you have to keep or memorize in case of a crash.
GPG_PASS="7D-C7-1A-A5-62-7B" #<- CHANGE THIS ONE, IT IS A PUBLIC SOURCE, FACTORY DEFAULT ONE.
#
# Modify following list of directories to backup according to your system.
# For restore speed efficiency, order of dirs appearing here is important.
#
DIRECTORIES="Documents Pictures Public Projects Videos dev .cinnamon .config .cpan .cpanm .curlrc .icons .local .vim .ssh .themes .fzf"
#
# Actual home directory files to include we do manually here. 
# Your .DOT files are by default there. Respective directories of this type go in the variable above. Tweak, here and there is the game.
# Best practice is to leave in the HOME ~ only every day script files and possibly symbolic links. For shorter paths.
# Use ./list.sh to check after backup, the important staff is backed up.
#
WILDFILES="*.sh *.pl .vim* .bash* .prof* .tmux.conf"
#
# Careful with the following excludes, make a copy before modifications.
# chrome browser extensions and caches are not backuped as it is on the cloud.
EXCLUDES="--exclude=.local/share/Steam --exclude=.local/share/flatpak --exclude=.local/share/Trash --exclude=.local/lib --exclude=*Cache* \
--exclude=.config/session --exclude=.config/Signal --exclude=.config/libreoffice --exclude=*google-chrome* \
--exclude=*cache* --exclude=*chromium*"
 
